[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tinymce = "*"
django-taggit = "*"
django-cleanup = "*"
pillow = "*"
python-dotenv = "*"
sendgrid = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
